.login {
  .login-logo {
    width: 150px;
    padding: 2rem 4rem;
    margin-bottom: 20px;
  }

  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;

    .login-img {
      width: 50%;
      padding: 2rem;
    }
  }

  .form-container {
    border-left: 2px solid #545F7D26;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
    padding: 200px 50px;
    margin-top: -200px;
    width: 50%;

    h3{
      /* font-size: 30px; */
      font-family: Avenir Next;
      font-size: 40px;
      font-weight: 700;
      line-height: 54.64px;
      letter-spacing: -0.04em;
      text-align: left;
      color: #213F7D;
    }
    p{
      margin: -40px 0 50px;
      font-size: 20px;
      color: #545F7D;
    }
  }

  .login-form {
    margin-top: 1rem;
    width: 300px;
    border-radius: 5px;
    text-align: center;

    .login-input {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
    }

    .password-container {
      position: relative;
      display: flex;
      align-items: center;

      .login-input {
        margin-bottom: 0;
      }

      .toggle-password {
        position: absolute;
        right: 10px;
        font-size: 10px;
        background: none;
        border: none;
        color: #39CDCC;
        cursor: pointer;
      }
    }

    .login-button {
      width: 100%;
      padding: 10px;
      background-color: #39CDCC;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 20px;

      &:hover {
        background-color: #18a1a1;
      }
    }

    .forgot-password-link {
      display: block;
      margin: 10px 0 20px;
      color: #39CDCC;
      text-decoration: none;
      text-align: left;
      font-size: 10px;

      &:hover {
        color: #18a1a1;
      }
    }
  }

  /* Responsive Design */
  @media (max-width: 768px) {
    .login-container {
      flex-direction: column;
    }

    .login-img {
      display: none;
    }

    .form-container {
      border-left: none;
      width: auto;
      padding: 20px;
      padding: 20px 50px;
      margin-top: 10px;
    }

    .login-logo {
      padding: 1rem 2rem;
      margin-bottom: 10px;
    }
  }

  @media (max-width: 480px) {
    .login-form {
      width: 100%;
    }

    .form-container {
      padding: 15px;
      width: 80%;
      margin-top: 0;
    }
  }
}
