@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,500;0,700;0,1000;1,300&family=Sen:wght@400..800&display=swap');
* {
  font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.login {
  display: flex;
  height: 100vh;  

  .login-container {
    display: flex;
    flex-direction: column;
    gap: 7rem;
    width: 50%;
    padding: 5rem 0 0 5rem;
    background-color: #fcfbfb9d;

    .login-logo {
      width: 150px;
      margin-bottom: 20px;
    }

    .login-img {
      width: 80%;
    }
  }

  .form-container {
    padding: 200px 50px;
    width: 50%;
    background-color: #fff;

    h3{
      font-size: 40px;
      font-weight: 700;
      line-height: 54.64px;
      letter-spacing: -0.04em;
      text-align: left;
      color: #213F7D;
    }
    p{
      margin: -40px 0 50px;
      font-size: 20px;
      color: #545F7D;
    }
  }

  .login-form {
    margin-top: 1rem;
    width: 447px;
    border-radius: 5px;
    text-align: center;

    .login-input {
      width: 100%;
      padding: 15px;
      margin-bottom: 25px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
      outline: none;
    }

    .password-container {
      position: relative;
      display: flex;
      align-items: center;

      .login-input {
        margin-bottom: 0;
      }

      .toggle-password {
        position: absolute;
        right: 10px;
        font-size: 10px;
        background: none;
        border: none;
      font-weight: 600;
      color: #39CDCC;
        cursor: pointer;
      }
    }

    .login-button {
      width: 100%;
      padding: 10px;
      background-color: #39CDCC;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 20px;

      &:hover {
        background-color: #18a1a1;
      }
    }

    .forgot-password-link {
      display: block;
      margin: 10px 0 20px;
      color: #39CDCC;
      text-decoration: none;
      font-weight: 600;
      text-align: left;
      font-size: 10px;

      &:hover {
        color: #18a1a1;
      }
    }
  }

  /* Responsive Design */
  @media (max-width: 968px) {
    .login {
      flex-direction: column;
    }
    .login-container {
      flex-direction: column;
      height: 20px;
    }

    .login-img {
      display: none;
    }

    .form-container {
      border-left: none;
      width: auto;
      padding: 20px;
      padding: 20px 50px;
      margin-top: 10px;
    }

    .login-logo {
      padding: 1rem 2rem;
      margin-bottom: 10px;
    }
  }
  @media (max-width: 768px) {
    .login {
      flex-direction: column;
    }
    .login-container {
      flex-direction: column;
    }

    .login-img {
      display: none;
    }

    .form-container {
      border-left: none;
      width: auto;
      padding: 20px;
      padding: 20px 50px;
      margin-top: 10px;
    }

    .login-logo {
      padding: 1rem 2rem;
      margin-bottom: 10px;
    }
  }

  @media (max-width: 480px) {
    .login-form {
      width: 100%;
    }

    .form-container {
      padding: 15px;
      width: 80%;
      margin-top: 0;
    }
  }
}
